<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.7.1.2534" targetFramework="xamarinmac20" />
  <package id="Fody" version="3.3.5" targetFramework="xamarinmac20" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinmac20" />
  <package id="ReactiveUI" version="9.7.2" targetFramework="xamarinmac20" />
  <package id="ReactiveUI.Fody" version="9.7.2" targetFramework="xamarinmac20" />
  <package id="ReactiveUI.XamForms" version="9.7.2" targetFramework="xamarinmac20" />
  <package id="redmine-net-api" version="1.0.1" targetFramework="xamarinmac20" />
  <package id="Splat" version="5.3.3" targetFramework="xamarinmac20" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Reactive" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Reactive.Compatibility" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Reactive.Core" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Reactive.Interfaces" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Reactive.Linq" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Reactive.PlatformServices" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Reactive.Providers" version="4.1.2" targetFramework="xamarinmac20" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinmac20" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.4.0.1009999" targetFramework="xamarinmac20" />
</packages>